.nav-item{
    color: #fff;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/masthead-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.service-icon {
    background-color: #5c59fc;
    color: #ffffff;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 10%);
}

.portfolio-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto auto 1rem; }
    .portfolio-item .caption {
      display: flex;
      height: 100%;
      width: 100%;
      background-color: rgba(33, 37, 41, 0.2);
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1; }
      .portfolio-item .caption .caption-content {
        color: #fff;
        margin: auto 2rem 2rem; }
        .portfolio-item .caption .caption-content h2 {
          font-size: 0.8rem;
          text-transform: uppercase; }
        .portfolio-item .caption .caption-content p {
          font-weight: 300;
          font-size: 1.2rem; }
    @media (min-width: 992px) {
      .portfolio-item {
        max-width: none;
        margin: 0; }
        .portfolio-item .caption {
          -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
          -webkit-clip-path: inset(0px);
          clip-path: inset(0px); }
          .portfolio-item .caption .caption-content {
            transition: opacity 0.25s;
            margin-left: 5rem;
            margin-right: 5rem;
            margin-bottom: 5rem; }
        .portfolio-item img {
          -webkit-transition: -webkit-clip-path 0.25s ease-out;
          -webkit-clip-path: inset(-1px);
          clip-path: inset(-1px); }
        .portfolio-item:hover img {
          -webkit-clip-path: inset(2rem);
          clip-path: inset(2rem); }
        .portfolio-item:hover .caption {
          background-color: rgba(29, 128, 159, 0.9);
          -webkit-clip-path: inset(2rem);
          clip-path: inset(2rem); } }

        
.card:hover{
             transform: scale(1.05);
          box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
        }

        footer.footer {
            padding-top: 5rem;
            padding-bottom: 5rem; }
            footer.footer .social-link {
              display: block;
              height: 4rem;
              width: 4rem;
              line-height: 4.3rem;
              font-size: 1.5rem;
              background-color: #585af7;
              transition: background-color 0.15s ease-in-out;
              box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1); }
              footer.footer .social-link:hover {
                background-color: #5f34fc;
                text-decoration: none; }